Source: opentypejs
Section: web
Priority: extra
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://opentype.js.org/
Vcs-Browser: https://github.com/scibian/opentypejs
Vcs-Git: https://github.com/scibian/opentypejs.git

Package: node-opentypejs
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Javascript parser for OpenType fonts - NodeJS
 opentype.js is an OpenType and TrueType font parser and writer. It allows you
 to access the letterforms of text from the browser or node.js.
